/*--------------------------------------------------------------------- 
File Name: style.css 
---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- 
import Fonts 
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap');

/*--------------------------------------------------------------------- 
import Files
 ---------------------------------------------------------------------*/

@import url(font-awesome.min.css);
@import url(owl.carousel.min.css);

/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/



/*---------------------------- 
loader  
----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*--------------------------------------------------------------------- 
header 
---------------------------------------------------------------------*/

header {
     background: transparent;
     width: 100%;
     padding: 40px 30px;
     position: absolute;
     z-index: 9;
}


/*--------------------------------------------------------------------- 
menu section
---------------------------------------------------------------------*/

ul.email {
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

ul.email li {
     display: inline-block;
}

ul.email li a {
     font-size: 17px;
     color: #fff;
     display: flex;
     align-items: center;
     padding-right: 60px;
}

ul.email li a i {
     font-size: 25px;
     padding-right: 10px;
}

.sidepanel {
     width: 0;
     position: fixed;
     z-index: 9999999;
     height: 100%;
     top: 0;
     left: 0;
     background-color:  #212121;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
}

.sidepanel a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 20px;
     color: #fff;
     display: block;
     transition: 0.3s;
}

.sidepanel a:hover {
     color: #a32149;
}

.sidepanel a.active {
     color: #a32149;
}

.sidepanel .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
}

.openbtn {
     cursor: pointer;
     background-color: transparent;
     color: white;
     border: none;
}





/** services **/

.services {
     padding-top: 80px;
     padding-bottom: 50px;
     background: #fff;
}

.services .titlepage p {
     color:#000000;
}

.service_text h3 {
     color: #000000;
     font-size: 25px;
     line-height: 25px;
     padding-bottom: 10px;
     font-weight: 500;
     margin-top: 40px;
}

.service_text p {
     color: #000000;
     padding-bottom: 30px;
     font-size: 15px;
     line-height: 22px;
}

.service_img {
    background: rgb(33, 33, 33); /* Fallback color for dark grey */
    background: linear-gradient(139deg,
        rgba(33, 33, 33, 1) 6%,    /* Dark Grey */
        rgba(51, 51, 51, 1) 50%,   /* Slightly lighter */
        rgba(66, 66, 66, 1) 96%    /* Even lighter grey */);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* end services */

/** about **/

.about {
   background: linear-gradient(139deg,
    rgba(51, 51, 51, 1) 0%,   /* Dark Grey */
    rgba(102, 102, 102, 1) 35%,  /* Medium Grey */
    rgba(204, 204, 204, 1) 75%,  /* Light Grey */
    rgba(255, 255, 255, 1) 100%  /* White */);
    padding: 80px 0;
}
.about .titlepage {
     padding-bottom: 0;
     max-width: 554px;
     float: right;
     width: 100%;
}

.about .titlepage h2 {
     color: #fff;
}

.about .titlepage p {
     color: #fff;
     padding-bottom: 35px;
}

.about_img {
    padding-left: 30px;
    float: left;
}

.about_img figure {
    margin: 0;
}

.about_img figure img {
    border-radius: 60px;
    display: block;
    max-width: 100%;
    height: auto;
}


/** end about **/

/* our_mics Section */

.our_mics {
    background: #fff;
    padding: 80px 0 40px 0;
}

.our_mics .titlepage p {
    color: #000000;
}

/* Mic Circle Container with Gradient Background */
.mics {
    background: linear-gradient(
        139deg,
        rgba(0, 0, 0, 1) 6%,        /* Pure Black */
        rgba(51, 51, 51, 1) 96%     /* Dark Grey */
    );
    padding: 5px;
    border-radius: 50%;
    margin: 0 auto;
}

.mics figure {
    margin: 0;
}

.mics figure img {
    border-radius: 50%;
    text-align: center;
}

.margin_bottom40 {
    margin-bottom: 40px;
}

/* Hoverable Icon Overlay */
.mics_icon {
    opacity: 0;
    margin: 0 auto;
    position: absolute;
    top: 15px;
    text-align: center;
    left: 30px;
    right: 30px;
    bottom: 15px;
    background: #ffffff9c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.mics_icon a {
    display: flex;
}

.mics_icon a i {
    color: #000000 !important;
    font-size: 25px;
}

/* Hover Effect */
#ho_show:hover .mics_icon {
    opacity: 1;
    cursor: pointer;
    transition: ease-in all 0.5s;
}



/** contact section **/

.contact {
     background: #ffffff;
     padding: 80px 0 190px 0;
}

.contact .titlepage p {
     color: #212121;
}

.main_form .contactus {
     border: inherit;
     padding: 0 15px;
     margin-bottom: 25px;
     width: 100%;
     height: 68px;
     background: #dbdada;
     color: #969494;
     font-size: 16px;
     font-weight: normal;
}

.main_form .textarea {
     border: inherit;
     margin-bottom: 25px;
     width: 100%;
     background: #dbdada;
     color: #969494;
     font-size: 18px;
     font-weight: normal;
     padding: 36px 15px 0 15px;
     border-radius: 0;
     height: 109px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #0c0909;
     color: #fff;
     height: 68px;
     line-height: 68px;
     max-width: 216px;
     width: 100%;
     display: block;
     margin-top: 10px !important;
     font-weight: 500;
     margin: 0 auto;
}

.main_form .send_btn:hover {
     background-color:#8B0000;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #969494;
     opacity: 1;
}


/** end contact section **/


/** footer **/

.footer {
     background: #333333;
     padding-top: 90px;
     position: relative;
}

.footer::before {
     position: absolute;
     content: "";
     width: 100%;
     background: url(../images/footer.jpg);
     height: 251px;
     top: -115px;
     background-size: 100% 100%;
     background-position: center;
}

.logo_footer {
     margin-bottom: 15px;
     display: block;
}

.Informa h3 {
     color: #ffffff;
     font-size: 25px;
     font-weight: bold;
     line-height: 25px;
     margin-bottom: 15px;
     margin-top: 30px;
}

.conta li {
     font-size: 15px;
     line-height: 29px;
     color: #ffffff;
}

.helpful {
     padding-top: 50px;
}

.helpful ul li {
     display: inline-block;
     padding-right: 30px;
}

.helpful ul li:last-child {
     padding-right: 0;
}

.helpful ul li a {
     text-transform: uppercase;
     color: #fff;
     font-size: 15px;
     line-height: 29px;
}

.helpful ul li a:hover {
     color: #ff0000;
}

.conta ul li a {
     color: #ffffff;
}

.conta ul li a i {
     padding-right: 5px;
}

ul.social_icon {
     float: left;
     padding-top: 15px;
}

ul.social_icon li {
     display: inline-block;
     padding-right: 10px;
}

ul.social_icon li:last-child {
     padding-right: 0;
}

ul.social_icon li a {
     color: #fff;
     display: inline-block;
     text-align: center;
     line-height: 33px;
     font-size: 28px;
     font-weight: bold;
}

ul.social_icon li a:hover {
     color: #ff0000;
     transition: ease-in all 0.7s;
}

.ente {
     background: #dbdada;
     color: #fff;
     border: inherit;
     padding: 0 15px;
     height: 62px;
     width: 100%;
     font-size: 17px;
}

.subs_btn {
     max-width: 127px;
     display: inline-block;
     background: #ff0000;
     height: 59px;
     width: 100%;
     color: #cecdcd;
     font-size: 17px;
     text-transform: uppercase;
     font-weight: normal;
     transition: ease-in all 0.5s;
     margin-top: 20px;
}

.subs_btn:hover {
     background: #9a145b;
     transition: ease-in all 0.5s;
}

.copyright {
     background: #ffffff;
     margin-top: 50px;
}

.copyright p {
     color: #1d1c1c;
     padding: 20px 0px;
}

.copyright a {
     color: #1d1c1c;
}

.copyright a:hover {
     color: #7f16ca;
}


/** end footer **/


/*- - ener page css--*/

.inner_page header {
     box-shadow: 0 -3px 12px 0px #a540e6;
     position: inherit;
     background: #2F2F2F;
}
.inner_page .about {
     margin:80px 0 190px 0;
}
.inner_page .contact {
     padding-bottom:80px;
}
.inner_page .footer {
     margin-top: 110px;
}