<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'userp/images/favicon.png' %}" type="image/x-icon">

  <title>
    MIC
  </title>
<style>.back-link {
    display: block;
    width: 50%;
    padding: 14px;
    border: 2px solid red;
    color: red;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-top:34px;
}
.back-link:hover {
    background-color:red;
    color: #fff;
}
.back-link:active {
    transform: scale(0.98);
}</style>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'userp/css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'userp/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'userp/css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
     <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item ">
              <a class="nav-link" href="/h/"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="shop.html">

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="why.html">

              </a>
            </li>

          </ul>

        </div>
      </nav>
    </header>
    <!-- end header section -->

  </div>
  <!-- end hero area -->

  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container px-0">
      <div class="heading_container ">
        <h2 class="">
          ADD TO CART
        </h2>
      </div>
    </div>
    <div class="container container-bg">
      <div class="row">
        <div class="col-lg-7 col-md-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <img src="{{photo.url}}"/>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5 px-0">
          <form action="#" method="post">
            {% csrf_token %}
            <div>
              Product <input type="text" value="{{fname}}" readonly/>
            </div>
            <div>
              Price <input type="text" value="{{price}}" readonly />
            </div>
            <div>
              <select name="qtys"   class="form-control" required>
                  <option value="">Select Quantity</option>
                      {% for j in qts %}
				         <option value="{{j}}">{{j}}</option>
			          {% endfor %}
              </select>
            </div>

            <div class="d-flex ">
              <button type="submit">
                ADD TO CART
              </button>
              <a href="/" onclick="history.back(); return false;" class="back-link">
                  Go to Previous Page
              </a>
            </div>
            <br>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

    <!-- footer section -->
    <footer class=" footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </section>

  <!-- end info section -->


  <script src="{% static 'userp/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'userp/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="{% static 'userp/js/custom.js' %}"></script>

</body>

</html>